
.wrapper {
    background: url("../../../assets/images/bg-action.jpeg") top center/ cover no-repeat;
    padding: 100px 199.6px 100px 199.6px;
    .content {
        .title {
            color: #fff;
        }
        height: 100%;
        text-align: center;
    }
}
